/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.mobile-padding {
    padding: 0rem 1.5rem;
}

/* HEADER&NAV */
header {
    background-color: #0084fd;
    margin-bottom: 3rem;
}

nav {
    height: 75px;
    width: 100%;
}

.main-logo {
    background-color: #67a8e0;
}

.hamburger-menu {
    background-color: #67a8e0;
}

/* sezione INTRODUTTIVA con CARDS */
.intro-card {
    background-color:#b5ddff;
    height: 300px;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 20px;
    width: 100%;
}

.intro-cards .intro-card:first-child{
    height: 600px;
    margin-top: 3rem;
}


/* sezione PLANNING */
.planning {
    width: 100%;
    background-color: #9792e4;
    padding: 3rem 0rem;
    margin-top: 4rem;
}

.planning-intro {
    width: 100%;
    height: 600px;
    margin-bottom: 2rem;
    background-color: #e07f67;
    padding: 1.5rem;
}

.planning-content {
    width: 100%;
    height: 500px;
    background-color: #e07f67;
    border-radius: 20px;
    padding: 1.5rem;
}

/* sezione TESTIMONIAL */
.testimonial {
    width: 100%;
    padding: 3rem 0rem;
}

.testimonial-intro {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.testimonial-card {
    background-color: #9792e4;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}


/* sezione BENEFITS */
.benefits {
    width: 100%;
    padding: 3rem 0rem;
    background-color: #9792e4;
}

.benefits-card {
    width: 100%;
    height: 400px;
    background-color: #e07f67;
    margin-bottom: 2REM;
    border-radius: 20px;
    padding: 1.5rem;
}


/* sezione ABOUT US */
.about-us {
    width: 100%;
    padding: 3rem 0rem;
}

.about-us-intro {
    width: 100%;
    height: 500px;
    background-color: #e07f67;
    padding: 1.5rem;
}

.about-us-content {
    width: 100%;
    height: 400px;
    background-color: #e07f67;
    padding: 1.5rem;
    margin-top: 2REM;
}

/* MAIN'S FOOTER */
.main-footer {
    background-color: #9792e4;
    width: 100%;
    padding-bottom: 2rem;
}


/* FOOTER */
footer {
    background-color: #333333;
    width: 100%;
    padding-bottom: 2rem;
}

footer .test {
    padding-top: 2rem;
    text-align: center;
}











/* !RESPONSIVE MOBILE FIRST */

/* TABLET */
@media screen and (min-width: 768px){
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .intro-cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .intro-card {
        background-color:#b5ddff;
        height: 600px;
        margin: 0rem 1rem 1rem 1rem;
        padding: 1.5rem;
        border-radius: 20px;
        width: calc((100% / 3) - 2rem);
    }

    .intro-cards .intro-card:first-child{
        margin-top: 0rem;
        height: 600px;
        width: calc(((100% / 3) * 2 ) - 2rem );
    }






}

/* DESKTOP */
@media screen and (min-width: 992px){

}






