@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

h3 {
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.8rem;
}



/* colours*/
:root{
    --main-accent-color: #0084fd;
    --main-accent-color1:#b5ddff;
    --main-accent-color3: #9792e4;
    --text-color: white;
    --text-color2: #fdc15f;
    --text-color3: #5a6e7f;
    --text-color2: black;
}



/* COMMON */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.mobile-padding {
    padding: 0rem 1.5rem;
}

.fw-700 {
    font-weight: 700;
}

.bd-none {
    border: none;
}

.bd-r20 {
    border-radius: 20px;
}

.bd-r30 {
    border-radius: 30px;
}

.bd-r50 {
    border-radius: 50%;
}



/* BUTTON*/
.start-button {
    padding: .6rem 1rem;
    background-color: var(--text-color);
    font-size: 1rem;
}

.intro-button {
    background-color: var(--main-accent-color);
    color: var(--text-color);
    padding: .8rem 4rem;
    margin: 2rem 0rem;
    font-size: 1rem;
}

.benefits-button {
    background-color: var(--main-accent-color3);
    color: var(--text-color);
    padding: .7rem 3rem;
    margin-top: 1rem;
}

.about-us-button {
    background-color: var(--main-accent-color3);
    color: var(--text-color);
    padding: .7rem 3rem;
    margin-top: 1rem;
}


.main-footer-button {
    color: var(--main-accent-color3);
    color: var(--text-color);
    padding: 1.5rem 5rem;
    font-size: 1.3rem;
}


/* HEADER&NAV */
header {
    background-color: var(--main-accent-color);
    margin-bottom: 3rem;
    color: var(--text-color);
}

header nav {
    height: 75px;
    width: 100%;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li:not(:first-child) {
    display: none;
}

nav ul li {
    font-size: 1.1rem;
}

.fa-bars {
    font-size: 25px;
}



/* sezione INTRODUTTIVA con CARDS */
.intro-card {
    background-color: var(--main-accent-color1);
    margin-bottom: 2rem;
    width: 100%;
    align-items: stretch;
}

.intro-cards .intro-card:first-child{
    margin-top: 3rem;
    padding: 1.7rem 1.3rem 0rem;
}

.intro-card:not(:first-child){
    text-align: center;
}

.intro-card h3 {
    padding-bottom: 2rem;
    color: var(--main-accent-color);
}

.intro-card p {
    color: #5a6e7f;
    font-weight: 700;
    font-size: 1.1rem;
}

.card-big .demo-img img {
    width: 100%;
    align-self: flex-end;
    max-width: 250px;
}

.icon-size {
    font-size: 5rem;
    padding-bottom: 2rem;
    color: var(--main-accent-color);
}


/* sezione PLANNING */
.planning {
    background-color: #9792e4;
    padding: 3rem 0rem;
    margin-top: 4rem;
}

.planning-intro {
    margin-bottom: 2rem;
}

.planning-intro img {
    width: 100%;
}

.planning h2 {
    color: white;
    font-size: 2rem;
    padding: 4rem 0rem 2rem;
}

.planning-intro p {
    color: white;
}

.planning-content {
    background-color: #ffffff;
    padding: 1.5rem;
}

.planning-content img {
    width: 100%;
}

.planning-content h3,
.planning-content p {
    text-align: center;
}

.planning-content h3 {
    padding: 2rem 0rem;
    font-size: 1.3rem;
}

.planning-content i {
    background-color: #9792e4;
    padding: 1.5rem;
    font-size: 1.2rem;
    margin: 2rem 0rem 1rem;
}





/* sezione TESTIMONIAL */
.testimonial {
    width: 100%;
    padding: 3rem 0rem;
}

.testimonial-intro {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.testimonial-intro h2 {
    font-size: 2rem;
    padding: 2rem 0rem;
    color: #9792e4;
}

.testimonial-card {
    background-color: #9792e4;
    width: 100%;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.testimonial-card figure img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.testimonial-card figure {
    align-self: center;
    margin-bottom: 1.5rem;
}

.testimonial-text {
    text-align: center;
    color: white;
}

.pic-name {
    padding-top: 1rem;
    
}



/* sezione BENEFITS */
.benefits {
    padding: 3rem 0rem;
    background-color: #9792e4;
}

.benefits-card {
    background-color: white;
    margin-bottom: 2REM;
    padding: 1.5rem;
    
}

.benefits h2 {
    color: white;
    padding: 0rem 0rem 3rem;
    font-size: 2rem;
    text-align: center;
}

.number {
    font-size: 3rem;
    color: #9792e4 ;
}

.benefits-card h3 {
    font-size: 1.3rem;
    color: #9792e4;
    padding: 1.5rem 0rem;
}



/* sezione ABOUT US */
.about-us {
    width: 100%;
    padding: 3rem 0rem;
}

.about-us-intro {
    width: 100%;
    padding: 1.5rem;
}

.about-us-content {
    width: 100%;
    padding: 1.5rem;
    margin-top: 2REM;
}

.about-us-text {
    line-height: 2rem;
}

.about-us h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #9792e4;
}

.big-text {
    padding-bottom: 2rem;
}

.about-us figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.v-text {
    color: #9792e4;
    font-size: 1.4rem;
}





/* MAIN'S FOOTER */
.main-footer {
    background-color: #9792e4;
    width: 100%;
    padding-bottom: 2rem;
}



/* FOOTER */
footer {
    background-color: #333333;
    width: 100%;
    padding-bottom: 2rem;
}

footer .test {
    padding-top: 2rem;
    text-align: center;
}

.test {
    padding-bottom: .5rem;
    text-align: center;
}

.test1{
    font-size: 1.1rem;
    color: #5a6e7f;
}

.test2{
    font-size: 1.4rem;
    color: white;
}

.test3{
    font-size: 3.5rem;
    color: #fdc15f;
}

.test4{
    color: white;
}



.test6{
    color: white;
}



/* !RESPONSIVE MOBILE FIRST */

/* TABLET */
@media screen and (min-width: 768px){

    /* sezione INTRODUTTIVA con CARDS */
    .container {
        width: 100%;
        max-width: 760px ;
        margin: 0 auto;
    }

    .intro-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .intro-card {
        background-color:#b5ddff;
        margin: 0rem 1rem 2rem 1rem;
        padding: 1.7rem 1rem;
        width: calc((100% / 3) - 2rem);
    }

    .intro-cards .intro-card:first-child{
        margin-top: 0rem;
        width: calc(((100% / 3) * 2 ) - 2rem );
    }

    .card-big .demo-img img {
        width: 100%;
        padding-right: 9.2rem;
        max-width: 400px;
    }

    /* sezione PLANNING */
    .planning-flex {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .planning-intro {
        width: 100%;
    }

    .planning-content {
        width: 100%;
    }

    .planning h2 {
        font-size: 3.5rem;
        padding: 5rem 0rem 3rem;
    }



    /* sezione TESTIMONIALS */

    .testimonial-card {
        flex-direction: row;
        align-items: center;
    }

    .testimonial-text {
        padding: 0rem 2rem;
        text-align: start;
    }

    .testimonial-card figure {
        margin-bottom: 0rem;
    }

    .testimonial-intro h2 {
        font-size: 3.5rem;
    }

    /* sezione BENEFITS */

    .benefits-cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .benefits-card {
        width: calc(100% / 2 - 2rem);
        padding: 1.5rem;
        margin: 0rem 1rem 2rem 1rem;
    }

    .benefits h2 {
        font-size: 3.5rem;
    }


        /* sezione ABOUT US */
    .about-us-container {
        display: flex;
    }

    .about-us-content {
        margin-top: 0REM;
    }

    .about-us {
        display: flex;
    }

    .about-us-content {
        flex-basis: 40%;
    }

  
}



/* DESKTOP */
@media screen and (min-width: 992px){

    .container {
        width: 100%;
        margin: auto;
        min-width: 1170px;
    }

    /* sezione HEADER&NAV */
    .hamburger-menu {
        flex-basis: 50%;
    }

    ul li:first-child {
        display: none;
    }

    nav ul li:not(:first-child) {
        display: contents;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    /* sezione INTRODUTTIVA con CARDS */

    .intro-cards .intro-card:first-child{
        width: calc(((100% / 3) * 2 ) - 2rem );
    }

    .card-big {
        flex-direction: row;
    }

    .demo-img {
        flex-basis: 50%;
    }
    
    .card-big .demo-img img {
        width: 72%;
        padding-right: 0rem;
        padding-left: 0;
        margin-left: 4rem;
    }

    .content {
        flex-basis: 50%;
    }
    /* sezione PLANNING */

    .planning-flex {
        flex-direction: row;
        justify-content: center;
    }

    .planning-intro {
        margin-right: 1rem;
        margin-bottom: 0rem;
    }

    .planning-intro {
        width: 40%;
    }

    .planning h2 {
        font-size: 2rem;
    }
    
    .planning-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        width: 40%;
    }

    .planning-content img {
        width: 50%;
    }
    

    /* sezione BENEFITS */
    .benefits-card {
        width: calc(100% / 3 - 2rem);
    }



    .about-us-content {
        flex-basis: 30%;
    }


}






